fastapi
uvicorn[standard]
SQLAlchemy>=2.0
pydantic>=2.0
pydantic-settings
python-jose[cryptography]
passlib
pymysql
python-multipart
pydantic[email]
loguru
redis

# dev/test
pytest
pytest-cov
ruff
httpx
fakeredis
